body {
    padding: 0;
    margin: 0;
}

#map,
body,
html {
    height: 100%;
}


/* CSS from the Leaflet-Choropleth documentation */

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(218, 14, 245);
    background: #fff;
    background: rgba(189, 186, 186, 0.911);
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(5, 20, 233);
}

.legend ul {
    list-style: none;
}

.legend li {
    display: block;
    float: left;
    width: 40px;
    height: 15px;
}

.legend span {
    display: block;
    text-align: right;
}